:root
{
  --navigation-color-background: lightgray;
  --navigation-color-highlight: whitesmoke;
  --navigation-article-color-blend: whitesmoke;
  --nav-bar-width: 27em;
  --article-accent-color-1: steelblue;
  --article-accent-color-2: lightsteelblue;



  --mobile-screen-width: calc(27em * 2.5); /*alsso fix @medias because for some reason, this didn't work there.  Should be 67.5 or 68 rounded up*/
  --mobile-burg-button-width: 3em;
}

/* navigation menu setup */
.navbar
{
  /*basic positioning*/
  position:fixed;
  top:0;
  left:0;
  overflow:scroll;
  
  /*better fit content*/
  line-height: 2rem;
  height:100vh;
  width:25em;
  padding: 0.5em 1em 0.5em 0;
  margin: 0px;
  
  /*set background for menu*/
  background-color: var(--navigation-color-background);
  border-color: var(--navigation-article-color-blend);
  border-style:none groove none none;
  border-width: 15px;
  /*debugging*/
  /*
  border-color:red;
  border-style:solid;
  */
}

.navbar ol
{
  list-style-type:decimal;
    list-style-position:inside;
  }

  .navbar > ol
  {
    margin-left:0px;
    padding-left:1em;
  }
  
/*Button styling of links*/
  
.navbar a
{
  display:inline-block;
  color:black;
  font-style:none;
  text-decoration: none;
  width:100%;
  padding:0px;
  margin: 0px 0 0px 0;
}

.navbar a:hover
{
  background-color:var(--navigation-color-highlight);
  
}

/*navbar setup*/

.navburger
{
  display:none;
}

/*automatically align actual page content to page to get out from behind */
body > * 
{
  margin-left: var(--nav-bar-width); /*Note that this does not apply to navbar since it's overridden there*/
}

/*seperate mobile navbar setup*/
@media screen and (max-width: 68em)
{
  body > *
  {
    margin-left: var(--mobile-burg-button-width); /*buffer for navbuger*/
  }

  .navburger
  {
    /* basic positioning */
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width: var(--mobile-burg-button-width);
    
    /* position burger to be in center */
    display: flex;
    align-items:center;
    text-orientation: sideways;
    
    /*set background for menu*/
    background-color: var(--navigation-color-background);
    border-color: var(--navigation-article-color-blend);
    border-style:none groove none none;
    padding:0 15px 0 5px;
    border-width: 15px;
  }

  /*should be aligned with actual navburger.  Invisible until mov_nav_open is enabled*/
  .navbar
  {
    border-style:none;
    display: none;
    width: calc( 100vw - var(--mobile-burg-button-width));
  }
  
  /*move navburger to right upon opening*/
  .mob_navbar_open .navburger
  {
    right:0;
    left: auto;
  }

  .mob_navbar_open .navbar
  {
    display: block;
  } 
}

/*body style*/
main h1
{
  color: var(--article-accent-color-1);
}

main h2
{
  color: var(--article-accent-color-1);
}

main ul li::marker
{
  color: var(--article-accent-color-2);
}

/*Footer setup*/

footer
{
  margin-top: 4em;
  margin-bottom: 4em;
}

#prev_page
{
    /*fix font*/
    color:black;
    font-style:none;
    text-decoration:none;
    text-align: center;
    width:4em;
    padding:1em;
  
    /*positioning*/
    float:left;
    right:1em;
  
    /*Button styling*/
    background-color: var(--navigation-color-background);
    border-style: none groove groove none;
    border-width: 0.5em;
    border-color: var(--navigation-article-color-blend);
}
#prev_page:hover
{
    background-color: var(--navigation-color-highlight)
}


#next_page
{
    /*fix font*/
    color:black;
    font-style:none;
    text-decoration:none;
    text-align: center;
    width:4em;
    padding:1em;
  
    /*positioning*/
    float:right;
    right:1em;
  
    /*Button styling*/
    background-color: var(--navigation-color-background);
    border-style: none groove groove none;
    border-width: 0.5em;
    border-color: var(--navigation-article-color-blend);
}
#next_page:hover
{
    background-color: var(--navigation-color-highlight)
}
