:root
{
  --navigation-color-background: lightgray;
  --navigation-color-highlight: whitesmoke;
  --navigation-article-color-blend: whitesmoke;
  --nav-bar-width: 27em;
  --article-text-color-primary: black;
  --article-text-color-secondary:dimgray;
  --article-accent-color-1: steelblue;
  --article-accent-color-2: lightsteelblue;
  
  
  
  --mobile-screen-width: calc(27em * 2.5); /*alsso fix @medias because for some reason, this didn't work there.  Should be 67.5 or 68 rounded up*/
  --mobile-burg-button-width: 3em;

  --tooltip-max-width: 30vw;
  --tooltip-recommended-width: 20em;
  --tooltip-background-color: lightgray;
  --tooltip-text-color: black;
}

/* navigation menu setup */
.navbar
{
  /*basic positioning*/
  position:fixed;
  top:0;
  left:0;
  overflow:scroll;
  
  /*better fit content*/
  line-height: 2rem;
  height:120vh; /*I've previously had problems with this going off screen
                on mobile so this is my really poor fix*/
  width:25em;
  padding: 0.5em 1em 0.5em 0;
  margin: 0px;
  
  /*set background for menu*/
  background-color: var(--navigation-color-background);
  border-color: var(--navigation-article-color-blend);
  border-style:none groove none none;
  border-width: 15px;

  /*Setup font*/
  font-family: 'Funnel Sans';
  /*debugging*/
  /*
  border-color:red;
  border-style:solid;
  */
}

.navbar ol
{
  list-style-type:decimal;
  list-style-position:inside;
}

.navbar > ol
{
  margin-left:0px;
  padding-left:1em;
}

/*Button styling of links*/

.navbar a
{
  display:inline-block;
  color:black;
  font-style:none;
  text-decoration: none;
  width:100%;
  padding:0px;
  margin: 0px 0 0px 0;

  /*not needed, but as a backup*/
  z-index:998; /* below navburger on mobile */
}

.navbar a:hover
{
  background-color:var(--navigation-color-highlight);
}

/*navbar setup*/

.navburger
{
  z-index:999;
  display:none;
}
.navburger:hover
{
  background-color:var(--navigation-color-highlight);
}

/*automatically align actual page content to page to get out from behind */
body > * 
{
  margin-left: var(--nav-bar-width); /*Note that this does not apply to navbar since it's overridden there*/
}


/*seperate mobile navbar setup*/
@media screen and (max-width: 67.5em /*--mobile-screen-width*/)

{
  body > *
  {
    margin-left: var(--mobile-burg-button-width); /*buffer for navbuger*/
  }
  
  .navburger
  {
    /* basic positioning */
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width: var(--mobile-burg-button-width);
    
    /* position burger to be in center */
    display: flex;
    align-items:center;
    text-align: center;
    justify-content:center;
    text-orientation: sideways;
    
    /*set background for menu*/
    background-color: var(--navigation-color-background);
    border-color: var(--navigation-article-color-blend);
    border-style:none groove none none;
    padding:0 15px 0 5px;
    border-width: 15px;
  }
  
  /*should be aligned with actual navburger.  Invisible until mov_nav_open is enabled*/
  .navbar
  {
    border-style:none;
    display: none;
    /*! width: var(--nav-bar-width); */
  }
  
  /*move navburger to right upon opening*/
  .mob_navbar_open .navburger
  {
    left: calc(var(--nav-bar-width) + 16px);
    padding: 0 3px 0 3px;
    overflow:visible;
    
    /*coloring to make visible as a button*/
    background-color: var(--navigation-color-highlight);
  }
  
  .mob_navbar_open .navbar
  {
    display: block;
    /*! box-sizing: border-box; */
  } 

  /*additional changes*/
  .qr_code
  {
    min-width: 150px;
  }
}

/* extremely small screen.  navmenu takes up entire screen rather than just the typical width */
@media screen and (max-width: 30em /*--mobile-burg-width + --nav-bar-width*/)
{
  /*ensure navbar fits on screen*/
  .navbar
  {
    width: calc( 100vw - var(--mobile-burg-button-width));
  }
  
  /*force navbar to be open on right of screen*/
  .mob_navbar_open .navburger
  {
    right:0;
    left:auto;
    border-style:none;
  }
}


/*body style*/
main
{
  font-family: 'IBM Plex Serif';
}
main h1
{
  font-family: 'Funnel Sans';
  color: var(--article-accent-color-1);
}

main h2
{
  font-family: 'Funnel Sans';
  color: var(--article-accent-color-1);
}

main ul li::marker
{
  color: var(--article-accent-color-2);
}

main figure
{
  max-width: 80%;
  width: 50%;
  min-width: 400px;
  height: auto;
  margin: 0 10% 0 10%;
}

main img
{
  width: 100%;
  height: auto;
}


/*class used with spans and such.  Provides a tooltip on hover*/
.tooltip
{
  /* basic setup for popup */
  display: inline-block;
  position: relative;

  /* special coloring and highlighting for text inside*/
  color: var(--article-text-color-secondary);
  text-decoration-line:underline;
  text-decoration-style:dashed;
  text-decoration-thickness: 1.5px;
}

.tooltip_msg
{
  /*display style*/
  box-sizing: border-box;
  position: absolute;
  visibility: hidden;
  
  /*positioning and size*/
  bottom: 100%; /*goal is to shift it down below the text*/
  right: -2em; /*Doing this to try and get it to just work.  Please, just hover*/
  max-width: 0; /* I was having problems with the 
            space already being there so I did
            this as a really rough patch*/
  height: auto;
  max-width: var(--tooltip-max-width);
  height: fit-content;

  /*set coloring and stuff*/
  background-color: var(--tooltip-background-color);
  color: var(--tooltip-text-color);
  padding: 0.25em;

  /* also fix font stuff since it's inside the parent*/
  text-decoration: none;
}

.tooltip:hover > .tooltip_msg
{
  width: clamp(10rem, var(--tooltip-recommended-width), var(--tooltip-max-width));
  min-width: 0px;
  visibility: visible;
}

.tooltip:hover
{
  /* special coloring and highlighting*/
  text-decoration-line: none;
}

.qr_code
{
  min-width: 200px;
  max-width: 300px;
}

/*Footer setup*/

footer
{
  margin-top: 4em;
  margin-bottom: 4em;

  font-family: 'Funnel Sans';
}

#prev_page
{
  /*fix font*/
  color:black;
  font-style:none;
  text-decoration:none;
    text-align: center;
    width:4em;
    padding:1em;
    
    /*positioning*/
    float:left;
    right:1em;
    
    /*Button styling*/
    background-color: var(--navigation-color-background);
    border-style: none groove groove none;
    border-width: 0.5em;
    border-color: var(--navigation-article-color-blend);
  }

  #prev_page:hover
  {
    background-color: var(--navigation-color-highlight)
  }
  
  
  #next_page
  {
    /*fix font*/
    color:black;
    font-style:none;
    text-decoration:none;
    text-align: center;
    width:4em;
    padding:1em;
    
    /*positioning*/
    float:right;
    right:1em;
    
    /*Button styling*/
    background-color: var(--navigation-color-background);
    border-style: none groove groove none;
    border-width: 0.5em;
    border-color: var(--navigation-article-color-blend);
  }

  #next_page:hover
  {
    background-color: var(--navigation-color-highlight)
  }
  