:root
{
    /*colors*/
    --background-color: rgb(50,70,50);
    --text-color: rgb(20,125,25);
    --border-color: rgb(20,125,10);
    
    /*variables per section*/
    --section-border-width: 2px;

};

body > main > section
{
    /*let's give this a crt look with some scanlines and noise*/
    background-image: var(--background-color); 
    background-repeat: repeat;
    background-attachment: fixed;
    /*background-position-x: FIGURE OUT HOW TO ANIMATE THIS LATER*/
};