:root
{
    /*colors*/
    --section-background-color: rgba(20,38,20, .72);
    --text-color: rgb(150,155,150);
    --text-accent-color: rgb(180,180,180);
    --border-color: rgb(20,150,20);
    --link-color: rgb(0,200,0);
    --link-visited: rgb(150,200,150);
    --button-link-bg: rgb(0,0,0);
    --button-link-bg-hover: rgb(55,55,55);
    
    /*variables per section*/
    --section-border-width: 2px;
    --roundness: 1em;
    --section-margin: 2em;

    /*general background (set to something realistic to give it a somewhat blend of retro computer terminal and natural look)*/
    --body-background-img: url(Aleksandr_Zaitsev_typewritter.avif);
}

body
{
    background-image: var(--body-background-img);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Layout builds */

body > main
{
    display: grid;

    /* default layout */
    grid-template:
    'cwork   cwork cwork pic'
    'cwork   cwork cwork pic'
    'fact question slang article';

    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    
    width: 100%;
}

/* make name align better, even though it's outside the grid of main*/
header h1
{
    margin: 1.5%;
}

@media screen and (max-width: 1000px)
{
    body > main
    {
        /*mid-range alternate style (reduced items on bottom)*/
        grid-template:
        'cwork   cwork  cwork   cwork       pic         pic'
        'cwork   cwork  cwork   cwork       pic         pic'
        'fact   fact    fact    question       question    question'
        'slang  slang   slang   article      article     article';
    }
}

@media screen and (max-width: 700px)
{
    body > main
    {
        grid-template:
        'cwork  cwork'
        'fact   pic'
        'question pic'
        'slang  slang'
        'article article';

        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 35em)
{
    body > main
    {
        grid-template:
        'cwork'
        'fact'
        'question'
        'slang'
        'article'
        'pic';

        grid-template-columns: auto;

    }
}

img
{
    width:80%;
    text-align:center;
}

#courseworkLinks
{
    grid-area: cwork;
}

#randomQuestion
{
    grid-area: question;
}

#boringFact
{
    grid-area: fact;
}

#slangThatNeedsToGo
{
    grid-area: slang;
}

#interestingArticle
{
    grid-area: article;
}

#coolPic
{
    grid-area: pic;
}

/* styling */


h1,
body > main > section
{
    color: var(--text-color);

    /*let's give this a tiling window manager terminal-esque look with some retro flairs*/
    background-color: var(--section-background-color);

    /*border should be a modern-ized rounded one*/
    border-style: solid;
    border-color: var(--border-color);
    margin: var(--section-margin);
    padding: 1em;
    border-radius: var(--roundness);
}

strong
{
    color: var(--text-accent-color);
}

a
{
    color: var(--link-color);
}

a:hover
{
    text-decoration:none;
}

a:visited
{
    color: var(--link-visited);
}

#coolPic a ,
#courseworkLinks a
{
    background-color: var(--button-link-bg);
    border-color: var(--button-link-bg);
    border-style: solid;
    border-radius: var(--roundness);
    
    text-decoration:none;
}

#coolPic a:hover ,
#courseworkLinks a:hover
{
    background-color: var(--button-link-bg-hover);
    border-color: var(--button-link-bg-hover);
}

h1,
h2,
h3,
h4,
h5,
h6
{
    color: var(--text-accent-color);
    font: monospace;
}

main > section h1,
main > section h2,
main > section h3,
main > section h4,
main > section h5,
main > section h6
{
    color: var(--text-accent-color);
    font: monospace;
}