* {
    color: floralWhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;

}

/*setup for the background image.  Takes up entire screen and displays image*/
body {
    background-image: url("Pacific Rhododendron 2 - Gary Monroe.jpeg");
    width: 100vw;
    height: 100vh;
    /*note: Firefox on android's height doesn't include the menubar which does disappear and reveals white space below the image.  This is really a Firefox bug and it's only visual, it's not gonna be patched*/
    background-size: cover;
    /*should keep dimensions and scales image to fit on screen*/
    background-repeat: no-repeat;
    background-position: center;
    /*keeps flower easy to see and centered*/
    background-attachment: fixed;
    /*image now flows through the entire thing :)*/
    margin: 0%;
    padding: 0%;
    border: 0%;
}

p {
    background-color: hotpink;
    margin: 20% 20% 20% 10%;
    padding: 0.5em;
}

ul {
    background-color: hotpink;
    margin: 20% 20% 20% 10%;
    padding: 0.5em;
}
ol {
    background-color: hotpink;
    margin: 20% 20% 20%;
    padding: 0.5em;
}

h1#title {
    display: flex;
    height: 85vh;
    margin-bottom: 25vh;
    align-items: flex-end;
    margin: 0em 0em 0em 1em;
}

