*
{
    display: flexbox;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    size:100vw 100vh /*everything important by default takes up a whole page*/
}

body /*setup for the background image.  Takes up entire screen and displays image*/
{
    background-image:url("Pacific Rhododendron 2 - Gary Monroe.jpeg");
    width: 100vw;
    height: 100vh;
    background-size: cover; /*should keep dimensions and scales image to fit on screen*/
    background-repeat:no-repeat;
    background-position:center;  /*keeps flower easy to see and centered*/
    background-attachment:fixed; /*image now flows through the entire thing :)*/
}

p
{
    background-color:#c244a7; /*Should likely edit later*/
}

h1#title
{
    display: flex;
    height:90vh;
    padding-bottom: 10vh;
    align-items: flex-end;
}