* {
    color: floralWhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;

}

/*setup for the background image.  Takes up entire screen and displays image*/
body {
    background-image: url("Pacific Rhododendron 2 - Gary Monroe.jpeg");
    width: 100vw;
    height: 100vh;
    /*note: Firefox on android's height doesn't include the menubar which does disappear and reveals white space below the image.  This is really a Firefox bug and it's only visual, it's not gonna be patched*/
    background-size: cover;
    /*should keep dimensions and scales image to fit on screen*/
    background-repeat: no-repeat;
    background-position: center;
    /*keeps flower easy to see and centered*/
    background-attachment: fixed;
    /*image now flows through the entire thing :)*/
    margin: 0%;
    padding: 0%;
    border: 0%;
}

li
{
    margin: 0 0 0 -1em;
    overflow: visible;
    overflow-wrap: break-word;
}

h1#title {
    display: flex;
    height: 90vh;
    margin-bottom: 20vh;
    align-items: flex-end;
    margin: 0em 0em 50vw 1em;
}

.article_section
{
    background-color:hotpink;
    margin: 50vh 15vw 50vh 15vw;
    padding: 0.5em;
}

@media screen and (min-width: 1000px)
{
    #plant_info_box
    {
        display:grid;
        grid-template-columns: auto auto;
        grid-template-areas: 'plant_info_1 , plant_info_2';
    }
    #plant_info_1
    {
        padding:0;
        margin:1em;
    }
    #plant_info_2
    {
        padding:0;
        margin:1em;
    }
}