:root 
{
    --button-roundness: 0.75em;
    --background-color: black;
    --text-color: white;

    --navbar-unselected-color:black;
    --navbar-selected-color: darkgray;
    --navbar-outline-color: white;
}

*
{
    color:white;
    image-rendering: pixelated;
    align-content: center;
    text-align: center;
}

body
{
    margin-left: 0;
    margin-right: 0;
    background-color:black;
}

/* Searchbar setup */
nav
{
    position: fixed;
    padding-top: 0.5em;
    top: 0;
    width:100vw;
}

nav fourm > input#searchbar
{
    box-sizing: border-box;

    /*text formatting*/
    text-align:left;


    /*make border rounded*/
    border-radius: var(--button-roundness);

    width: 75vw;
    /* Make thumb sized */
    height: 20px;
    padding: 3px;


    border-width: 3px;
    margin: 0;

    background-color: var(--navbar-unselected-color);
    border-color: var(--navbar-outline-color);
}

nav fourm > button
{
    position:relative;
    left: 0;
    top: 1px;

    border-radius: var(--button-roundness);
    border-style: solid;

    /* Make thumb sized */
    height: 20px;

    border-width: 3px;
    margin: 0;

    background-color: var(--navbar-unselected-color);
    border-color: var(--navbar-outline-color);
}

/* Tab menu setup */

ol.day_tabs 
{
    /* use flexbox to set up a scrollable expanding tab list*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow-y: visible;

    /*remove padding*/
    padding: 0;
    margin: 0;

    width:100%; 
    height:fit-content;
}

ol.day_tabs > li
{
    /*remove number*/
    list-style: none;

    /* Set tabular styling */
    display: block;
    margin: 0;
    padding: 2px;
    width: fit-content;

}

ol.day_tabs > li > button
{
    /*make fit area well*/
    margin: 0;
    width: fit-content;
    height: 40px;
    min-height: calc(1em + 4px);

    /* remove contemporary-ness and replace with simplistic style */
    border: none;
    color: white;
    background-color: black;
    padding: 1em;
}

ol.day_tabs > li > button.day_selected
{
    color: black;
    background-color: white;
}

/* Main content */

main
{
    display:flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    text-align:center;

    width: 100%;
    height: 100vh;

    overflow: hidden;
}

#weatherInfo
{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

main img
{
    width: 20px;
    height: 20px;
    max-width: 500px;
}

#wind_compass
{
    display: flex;
    height: 200px;
    max-height: 200px;

    align-items: center;
    justify-content: center;
    background-image: url('images/+.png');
    background-repeat:no-repeat;
    background-position: center;
    margin: 2em;
    background-size:contain;
}

#wind_compass > .arrow
{
    /*rendering for directional text*/
    display: flex;
    text-align: start;
    color:black;
    justify-content: center;
    
    /*render arrow*/
    background-image: url('images/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;

    /*Ensure arrow accuracy*/
    height:200px;
    max-height: 200px;
    width: 200px;
    max-width: 200px;
}

#wind_compass > .arrow > #wind_direction
{
    position: relative;
    top: calc(-20vw - 1em);   
}