:root 
{
    --button-roundness: 0.75em;
    --background-color: black;
    --text-color: white;

    --navbar-unselected-color:black;
    --navbar-selected-color: darkgray;
    --navbar-outline-color: white;

    --tab-hover-color: darkgray;
    --tab-roundness: 0.75em;
}

*
{
    color:white;
    image-rendering: pixelated;
    align-content: center;
    text-align: center;
}

body
{
    margin-left: 0;
    margin-right: 0;
    background-color:black;
}

/* Searchbar setup */
nav
{
    position: absolute;
    z-index: 10000;
    padding-top: 0.5em;
    top: 0;
    width:100vw;
}

nav
{
    transition: height 1.5s ease-in-out;
}

nav form input[name=searchbar]
{
    box-sizing: border-box;

    /*text formatting*/
    text-align:left;

    /*make border rounded*/
    border-radius: var(--button-roundness);

    width: 75vw;
    /* Make thumb sized */
    height: 20px;
    padding: 3px;


    border-width: 3px;
    margin: 0;

    background-color: var(--navbar-unselected-color);
    border-color: var(--navbar-outline-color);
}

nav form input[name=searchbar]:focus-visible
{
    color: var(--navbar-selected-color);
}

nav form > button,
nav form[name=submit]
{
    position:relative;
    left: 0;
    top: 1px;

    border-radius: var(--button-roundness);
    border-style: solid;

    /* Make thumb sized */
    height: 20px;

    border-width: 3px;
    margin: 0;

    background-color: var(--navbar-unselected-color);
    border-color: var(--navbar-outline-color);
}

/* Tab menu setup */

ol.day_tabs 
{
    /* use flexbox to set up a scrollable expanding tab list*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow-y: visible;

    /*remove padding*/
    padding: 0;
    margin: 0;

    width:100%; 
    height:fit-content;
}

ol.day_tabs > li
{
    /*remove number*/
    list-style: none;

    /* Set tabular styling */
    display: block;
    margin: 0;
    padding: 2px;
    width: fit-content;

}

ol.day_tabs > li > button
{
    /*make fit area well*/
    margin: 0;
    width: fit-content;
    height: 36px;
    min-height: calc(1em + 4px);

    /* remove contemporary-ness and replace with simplistic style */
    border: solid;
    color: white;
    background-color: black;
    padding: 1em;
    border-radius: var(--tab-roundness);
}

ol.day_tabs > li > button:hover
{
    border-color: var(--tab-hover-color) !important;
}

ol.day_tabs > li > button.day_selected
{
    color: black;
    background-color: white;
}

/* Main content */

h1 span#region
{
    display:none;
}

h1:hover span#region
{
    display:inline;
}

main
{
    display:flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    text-align:center;
    height:fit-content;

    width: 100%;
    height: 97.5vh; /*little smaller to prevent making it run off screen and allowing you to scroll nowhere*/

    overflow: hidden;
}

#weatherInfo
{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

img#condition_img
{
    width: 80px;
    height: 80px;

    image-rendering: optimizeQuality;
}

#weatherInfo.forecast_mode #wind_compass
{
    /* We don't have any wind direction for the forecast */
    display: none;
}

#wind
{
    flex-basis: 200px;
}

#wind_compass
{
    display: flex;
    height: 200px;
    max-height: 200px;

    align-items: center;
    justify-content: center;
    background-image: url('images/Compass-Texture.png');
    background-repeat:no-repeat;
    background-position: center;
    margin: 2em;
    background-size:contain;
}

#wind_compass > .arrow
{
    /*rendering for directional text*/
    display: flex;
    text-align: start;
    color:limegreen;
    font-weight: bolder;
    justify-content: center;
    
    /*render arrow*/
    background-image: url('images/Compass-Hand.png');
    background-size: contain;
    background-repeat: no-repeat;

    /*Ensure arrow accuracy*/
    height:200px;
    max-height: 200px;
    width: 200px;
    max-width: 200px;
}

.search_blur
{
    display: none;
}

body.search_mode .search_blur
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;

    backdrop-filter: blur(1em);
    
}