*
{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*Disabling scrolling on body (doesn't seem to work with snap to scroll so instead we're 
doing the jank method of having another element inside it handling scrolling)*/
body
{
    height:100vh;
    overflow:clip;
    background-color: black;
}

/*Snapping doesn't work on body so I created this to do the snapping instead.
  It's a little jank, but it works so that's all I ultimately care about*/
#story
{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    /*Fixing small border around image.  This is mean't to be a "replacement" for body anyway*/

    border: 0px;
    margin: 0px;

    /*transitioning on background*/
    transition-property: background-image;
    transition-duration: 1s;
}

#story > *
{
    /*enable snapping*/
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

#story .story_page
{
    padding: 0% 10% 0% 10%;
    min-height: 100vh;
    display: block;
    align-content: center;

    /* basic background setup.  Image will be set by classes*/

    background-attachment: fixed;
    background-repeat: none;
    background-position: center;
    background-size: cover;

    /*debugging*/
    /*
    border-color: black;
    border-style: solid;
    */
}

#story h1
{
    color:lightgray;
    align-content:center;
    justify-content:center;
}


/*images will be assigned direclty to story through javascript
  linear-gradient is used instead of just rgba because at least
  Firefox has a bug where the alpha channel doesn't work with the
  image behind it*/
.space_img
{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url("GeneralSpace.jpg");
}

.blackhole_img
{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url("BlackHole.jpg");
}

.star_img
{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,  url('Star.jpg');
}

.voyager_img
{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,  url('Voyager1.jpg');
}

.earth_img
{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,  url('Earth.jpg');
}

.asteroid_img
{
    background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,  url('Asteroid.jpg');
}