body
{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

body .storybeat
{
    margin: 0% 10% 0% 10%;
    height: 100vh;
    display: block;
    align-content: center;
    scroll-snap-align: center;
    scroll-snap-stop: always;

    /*debugging*/
    border-color: black;
    border-style: solid;
}

