/* Main title section */
.title_block
{
    width: 100vw;
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows:auto auto;
    grid-template-areas:
        'title  img'
        'body  img'
    ;
}
.title_block > h1
{
    grid-area: title;
}

.title_block > .body
{
    grid-area: body;
}

.title_block > .img
{
    grid-area: img;
}

/* Cook time counter */
.time_sum
{
    width: 100%;
    display: grid;
    grid-template-columns: 3;
    grid-template-areas:
        'h h h'
        'prep cook total'
} 

.time_sum > #prep_time
{
    grid-area: prep;
}

.time_sum > #prep_time::before
{
    content: 'Prep: ';
    font-weight:bold;
}

.time_sum > #cook_time
{
    grid-area: cook;
    margin: 0em 1em 0em 1em;
}

.time_sum > #cook_time::before
{
    content: 'Cook: ';
    font-weight:bold;
}


.time_sum > #total_time
{
    grid-area: total;
}

.time_sum > #total_time::before
{
    content: 'Total: ';
    font-weight:bold;
}

.time_sum > h2
{
    grid-area: h;
}

/*Ingredient list*/

.ingredients > h2
{

}

.ingredients > ol
{
    display: flexbox;
    flex-direction: column;
    column-count: 3;
    flex-wrap: wrap;
    align-items: flex-start;
    
}

.ingredients > ol > li
{

}

/* Step class is used for individual steps of recipe */

.step
{
    display: grid;
    grid-template-columns: calc( 100% / 6 ) calc( 200% / 6) 50%;
    grid-template-areas:
        'h cont img'
}

.step > h2
{
    content: '';
    grid-area: h;
}

.step > .content
{
    grid-area: cont;
}

.step > .img
{
    grid-area: img;
}


/* Result is for the final result of the process */

.result
{
    display: grid;
    grid-template-columns: calc( 100% / 6) calc( 400% / 6 ); /* last little bit should be a little margin about 1/6 of space available */
    grid-template-areas:
        'h img'
        'h cont'
    ;
}

.result > h2
{
    grid-area:h;
}

.result > .content
{
    grid-area: cont;
}

.result > .image
{
    grid-area: img;
}

@media screen and (aspect-ratio < 1/1 ) and (max-width: 800px)/*aka checking if vertical or phone layout should be used*/
{
    .title_block
    {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            'title'
            'img'
            'body'
        ;
    }

    .ingredients ol
    {
        /*just trying to make it a nice long simple list*/
        column-count: 1;
    }

    .step
    {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        grid-template-areas:
            'h    img'
            'cont img'
        ;
    }

    .result
    {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            'h    img'
            'cont img'
        ;
    }


}